* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body{
	background: #111; 
}



/* TITULOS DE PAGINAS */
.titulo-white {
    margin: 80px 0px 80px 0px;
    text-align: center;
}

h2.title-white {
    font-size: 42px;
    font-weight: 800;
    color: #fff;
}

h2.title-white span {
    background: #111;
    padding: 0 20px;
}

hr.hr-title-white {
    background: #FF8000;
    margin-top: -29px;

}




/*BANNER*/

section#inicio {
    position: relative;
    display: flex;
    width: 100%;
    padding: 50px;
    background: #222;
}


.circle {
	position: relative;
	overflow: hidden;
	display: flex!important;
}


.circle.circle1 {
    position: relative;
    justify-content: center;
   }


.bannerImg {
    position: relative;
    overflow: hidden;
    border-radius: 15%;
}


.bannerImg img{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 15%;
}

.banner-content h2 {
    font-size: 3em;
    font-weight: 600;
    color: #FF8000;
    text-align: center;
}

.banner-content p {
	color: #fff;
	font-size: 2em;
	text-align: center;
}

.banner-content a {
	color: #fff;
	font-size: 20px;
}


.bannerTxt {
	margin: 50px;
	border: 1px solid #FF8000;
	padding: 20px;
}

.bannerTxt p {
	color: #fff;
	font-size: 18px;
	text-align: center;

}


.bannerInfo {
	position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
}


.bannerInfo .banner-contato img {
	width: 25px;
	height: 25px;
	margin-right: 10px;
	margin-left: 15px;
	margin-top: 5px;
	filter: invert(1);
}





/* FORMAÇÃO */

section#formacao {
	display: flex;
	justify-content: center;
	align-items: center;

}

.content-formacao {
	position: relative;
	/*width: 1000px;*/
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 20px;
}

.content-formacao .formacaoBx {
	position: relative;
	height: 280px;
	background: #fff;
	display: flex;
	width: 45%;
	margin: 30px 0;
}


.content-formacao .formacaoBx .img-formacao {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #333;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transition: 0.5s ease-in-out;

}

.content-formacao .formacaoBx:nth-child(1) .img-formacao {
	background: #2196f3;
}

.content-formacao .formacaoBx:nth-child(2) .img-formacao {
	background: #e91e63;
}

.content-formacao .formacaoBx:nth-child(3) .img-formacao {
	background: #c3d41a;
}

.content-formacao .formacaoBx:nth-child(4) .img-formacao {
	background: #00FF40;
}


.content-formacao .formacaoBx:hover .img-formacao {
	width: 150px;
	height: 150px;
	left: -75px;
	top: calc(50% - 75px);
	transition: 0.5s ease-in-out;
	background: #FF8000;
}


.content-formacao .formacaoBx .img-formacao:before {
	content: attr(data-text);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 3em;
	color: rgba(0,0,0,.1);
	font-weight: 700;
}


.content-formacao .formacaoBx .img-formacao img {
	max-width: 150px;
	transition: 0.5s ease-in-out;

}

.content-formacao .formacaoBx:hover .img-formacao img {
	max-width: 75px;
}


.content-formacao .formacaoBx .formacaoTxt {
	position: absolute;
	right: 0;
	width: calc(100% - 75px);
	height: 100%;
	padding: 20px;
	display: flex;
	justify-content: center;
	text-align: center;
}

.content-formacao .formacaoBx .formacaoTxt h2 {
	margin-top: 20px;
	margin-bottom: 5px;
	font-size: 30px;
	font-weight: 600;

}

.content-formacao .formacaoBx .formacaoTxt h3 {
	margin-top: 20px;
	margin-bottom: 5px;
	font-size: 24px;

}

.content-formacao .formacaoBx .formacaoTxt p {
	text-align: left;
	margin-left: 15px;

}











/*HABILIDADES*/

.sec2 {
	/*background: #DBDBEA;*/
	background: #111;
	color: #fff;
}

.content-habilidades{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
}

.content-habilidades .habilidadesBx {
    padding: 40px 10px;
    background: #222;
    color: #fff;
    width: 490px;
    margin: 20px;
    text-align: center;
    transition: 0.5s;
    border-radius: 3%;
}

.content-habilidades .habilidadesBx:hover {
	background: #FF8000;
}


.content-habilidades .habilidadesBx img {
	max-width: 80px;
	filter: invert(1);
	margin-bottom: 30px;
}

.content-habilidades .habilidadesBx h2 {
	font-size: 20px;
	font-weight: 600;
}

.content-habilidades .habilidadesBx li {
	 list-style-type: none;
}


.skillsBx {
	position: relative;
	width: 100%;
}


.skillsBx .skills {
    position: relative;
    display: flex;
    margin: 10px 0;
    padding: 14px 10px 16px;
    background: linear-gradient(#616161 0%, #333 10%, #222);
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #FF8000;
    transition: 0.5s;
}

.skillsBx:hover .skills {
	opacity: 0.5;
}

.skillsBx .skills:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50%;
	background: rgba(255,255,255, .1);
	z-index: 10;
}

.skillsBx .skills:hover {
	opacity: 1;
	transform: scale(1.1);
}

.skillsBx .skills .name {
    position: relative;
    width: 200px;
    text-align: center;
    color: #fff;
    margin-top: -2px;
    text-transform: uppercase;
    font-size: 18px;
}

.skillsBx .skills .value {
	position: relative;
	width: 40px;
	text-align: left;
	color: #fff;
	margin-top: -2px;
	text-transform: uppercase;
}

.skillsBx .skills .percent {
	position: relative;
	width: calc(100% - 150px);
	height: 20px;
	margin: 0 10px;
	border-radius: 10px;
	background: #151515;
	box-shadow: inset 0 0 10px #000;
	overflow: hidden;

} 

.skillsBx .skills .percent .progress {
	position: absolute;
	top: 0;
	left: 0;
	width: 70%;
	height: 100%;
	border-radius: 10px;
	background: #fff;
	animation: animate 4s ease-in-out forwards;
}


@keyframes animate {
	from{
		width: 0;
	}
}










/* EXPERIENCIA */

.exp {
    position: relative;
    background: #fff;
    width: 400px;
    height: 500px;
    margin: 0 auto;
    border-radius: 3%;
}

.exp .exp-content {
	width: 400px; 
	padding: 30px;
	box-sizing: border-box;
}

.exp .exp-sliderTxt {
	position: relative;
	width: 100%;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #000;
}

.exp .exp-sliderTxt h3 {
	color: #fff;
	font-size: 2em;
	font-weight: 600;
	text-align: center;
	padding: 20px;

}

.exp .exp-content span {
	font-weight: 600;
}


.swiper-wrapper {
    width: 400px!important;
}

.swiper-slide:nth-child(1) .exp-sliderTxt {
	background: #2196f3;
}
.swiper-slide:nth-child(2) .exp-sliderTxt {
	background: #e91e63;
}
.swiper-slide:nth-child(3) .exp-sliderTxt {
	background: #c3d41a;
}
.swiper-slide:nth-child(4) .exp-sliderTxt {
	background: #2196f3;
}







/* DESTAQUE */

.destaqueTxt {
    position: relative;
    display: flex;
    color: #fff;
    font-size: 20px;
    background: #222;
	border-radius: 3%;
	padding: 20px;
	margin: 15px 0;
}


.destaqueTxt:hover {
	background: #FF8000;
}
.destaqueTxt img {
	position: relative;
	width: 60px;
	height: 60px;
	filter: invert(1);

}

.destaqueTxt p {
	position: relative;
	margin-top: 15px;
	margin-left: 15px;
}



/*Footer*/

footer {
	margin: 80px;
	border-top: 1px solid #FF8000;
}


ul.midias {
	position: relative;
	display: flex;
	margin: 60px;
	justify-content: center;

}

ul.midias li {
	position: relative;
	list-style: none;
}

ul.midias  li a {
	position: relative;
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	background: #FF8000;
	margin: 0 10px;
	padding-top: 14px;
	text-decoration: none;
	font-size: 30px;
	border-radius: 50%;
	color: #e2e2e2;
	box-shadow: inset -1px -1px 2px rgba(0,0,0,0.2),
						2px 2px 5px rgba(0,0,0,0.2);
	transition: 0.5s;
}

ul.midias  li a:hover {
	color: #999;
	transform: translateY(-20px);
	box-shadow: inset -1px -1px 2px rgba(0,0,0,0.2),
						2px 24px 10px rgba(0,0,0,0.1);
}

ul.midias  li a .fa {
	color: #fff;
	position: relative;
	z-index: 1;
}

ul.midias  li a:before {
	content: '';
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	border-radius: 50%;
	border: 2px solid rgba(0,0,0,0.1)
}

ul.midias li:nth-child(1) a:before {
	background: #4267B2;;
}

ul.midias  li:nth-child(2) a:before {
	background: #C13584;
}

ul.midias  li:nth-child(3) a:before {
	background: #25D366
}

ul.midias  li:nth-child(4) a:before {
	background: #2867B2;
}





/*MOBILE*/
@media (max-width: 992px)
{
	.content-formacao {
		width: 100%;
		flex-direction: column;
		align-items: center;
		margin: 0;

	}

	.content-formacao .formacaoBx {
		width: 290px;
	}
}


@media (max-width: 768px)
{

	.content-formacao .formacaoBx {
		width: 350px;
		flex-direction: column;
		height: 425px;
	}
	.content-formacao .formacaoBx .img-formacao {
		position: relative;
		height: 200px;
	}

	.content-formacao .formacaoBx .img-formacao
	{
		width: 100%;
		height: 200px;
		left: 0;

	}

	.content-formacao .formacaoBx .formacaoTxt{
		margin-top: 119px;
    	width: auto;
	}

	.content-formacao .formacaoBx .formacaoTxt h2{
		font-size: 28px;
		font-weight: 700;
		margin-bottom: 15px;
	}

	.content-formacao .formacaoBx .img-formacao img,
	.content-formacao .formacaoBx:hover .img-formacao img {
		max-height: 100%;
	}

	.content-formacao .formacaoBx .content-formacao {
		position: relative;
		width: 100%;
	}
}


